# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database
*.db
*.sqlite

# Others
wwwroot/lib/

